.alert-box {
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    
    /* 알림창을 평소에 숨김 */
    display: none; 
}

.list-group {
    display: none;
}

.black-bg {
    top: 0;
    left: 0;
    height: 100%;
    width : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 10;
    padding: 30px;
    visibility: hidden;
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    transition: all 1s;
  } 
  .show {
    visibility: visible;
    top: 0 auto;
    opacity: 1;
}